.card{
    background-color: #d1d1cf;
    height: 500px;
    width: 500px;
    border-radius: 24px;
    padding: 16px;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: solid 4px #000;
}

.logo{
    width: 50px;
}

.heading-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 700;
}

.card-header-first{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    border-bottom: solid 4px #000;
    padding: 16px;
}

.card-header-secend{
    text-align: center;
    font-weight: 700;
    padding: 12px;
}

.card-content{
    border-bottom: solid 4px #000;
    border-left: solid 4px #000;
    border-right: solid 4px #000;
    flex-direction: column;
}
.card-content-first{
    height: 30px;
    border-bottom: solid 4px #000;
    flex-direction: column;
    gap: 4px;
}

.card-content-secend{
    flex-direction: column;
    display: flex;
    align-items: center;
    border-bottom: solid 4px #000;
}

.photo{
    width: 160px;
    padding: 12px;
    text-align: center;
}

.card-content3{
    height: 30px;
    flex-direction: column;
    gap: 4px;
}