.column-left{
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
}

.column-center{
    text-align: center;
    width: 20px;
}

.column-right{
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d1d1cf;
    border-radius: 24px;
    max-width: 460px;
    padding: 16px;
}

.space{
    height: 16px;
}

.title{
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo{
    width: 50px;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.heading-text{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.photo{
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
}